@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-cover bg-center bg-no-repeat min-h-screen text-white; /* Yazı rengi için beyaz ayarlandı */
  background-image: url('/bg.jpg'); /* Resmin yolu */
 
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  html, body {
    
  }
}

