@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  html, body {
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;*/
   /* background-color: #BAD7FF; */
     background-image: linear-gradient(to right, #fc5c7d, #6a82fb); 
    height: 100vh;
    
  }
}


